.container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 5px;
  padding-right: 100px;
  background-color: white;
  z-index: 1;

  img {
    max-height: 100%;
    width: auto;
  }
}
